{% load static %} {# 로드경로: /static/  #}
<!DOCTYPE html>
<html lang="ko">
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    
    {% block content %}{% endblock %}

    {% include 'footer.html' %}

    <!---공통 JS-->
    <!-- Javascrips -->
    <script src="{% static 'js/getCookie.js' %}"></script> <!--반드시 CSRF은 상단에 있어야 함 -->
    <script src="{% static 'js/axiosInstance.js' %}"></script>

    <!--날짜/시간 데이터 (datetime)을 사람이 읽을 수 있는 문자열로 변환-->
    <script src="{% static 'js/utils.js' %}"></script>
    
    {% block scripts %}{% endblock %}  {# 선택: 페이지별 JS 삽입용 #}
</body>
</html>