{% load static %}
<div class="header">
    <h1><a href = "{% url 'main' %}">나의 Todo List</a></h1>
    <div class="user-actions">
        {% if user.is_authenticated %}
            <form action="/api-auth/logout/" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; color:blue; cursor:pointer;">로그아웃</button>
            </form>
        {% else %}
            <a href="/api-auth/login/">로그인</a>
        {% endif %}
    </div>
    <p class="w800"><a href="{% url 'list' %}"> list 목록으로 이동</a> </p>
</div>